<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" routerLink="/">
      <i class="fa fa-graduation-cap me-2"></i>
      DevLearn
    </a>

    <!-- Bouton mobile -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="fa fa-home me-1"></i> Accueil
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/app/home/ressource">
            <i class="fa fa-book me-1"></i> Cours
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/app/home/user">
            <i class="fa fa-user me-1"></i>Etudiants
          </a>
        </li>

      </ul>

      <!-- Authentification -->
      <div class="d-flex">
        <button
          type="button"
          class="btn btn-outline-success"
          [hidden]="localAuthStatus"
          (click)="signIn()">
          <i class="fa fa-sign-in me-1"></i> Connexion
        </button>

        <button
          type="button"
          class="btn btn-outline-danger"
          [hidden]="!localAuthStatus"
          (click)="signOut()">
          <i class="fa fa-sign-out me-1"></i> Déconnexion
        </button>
      </div>

    </div>
  </div>
</nav>
