<!-- login.component.html -->
<div class="login-container">
  <div class="login-card">

    <div class="left-section">
      <div class="brand">
        <h1>DevPath</h1>
        <p>Plateforme intelligente d’apprentissage pour développeurs</p>
      </div>
      <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4" alt="developer"/>
    </div>

    <div class="right-section">
      <div class="form-container">

        <h2>Connexion</h2>
        <p class="subtitle">Connectez-vous à votre espace</p>

        <!-- Message d'erreur -->
        <div class="col-12" *ngIf="!isAuthenticated && authenticationErrorMessage">
          <div class="text-danger mb-4">{{ authenticationErrorMessage }}</div>
        </div>

        <form [formGroup]="authenticationForm" (ngSubmit)="submitAuthenticationForm()">

          <div class="input-group">
            <label>Nom d'utilisateur</label>
            <input type="email" formControlName="username" placeholder="exemple@email.com"/>
          </div>

          <div class="input-group">
            <label>Mot de passe</label>
            <input type="password" formControlName="password" placeholder="********"/>
          </div>

          <div class="options">
            <label><input type="checkbox" />Se souvenir de moi</label>
            <a href="#">Mot de passe oublié ?</a>
          </div>

          <div class="col-12 d-flex justify-content-between">
            <button type="submit" [disabled]="authenticationForm.invalid">Se connecter</button>
            <button type="button" (click)="home()" class="mx-2">Retour</button>
          </div>

        </form>

        <div class="register-link">Vous n'avez pas de compte ? <a href="#">Créer un compte</a></div>
      </div>
    </div>

  </div>
</div>
